---
layout: page_title
title: <i class="fa fa-home fa-lg"></i>
titlename: 首页
---
<!--<br>--> 
<center>
	<h3>
		<font color="#000080">当</font>
		<font color="#FFA500">你</font>
		<font color="#2E8B57">想</font>
		<font color="#F08080">要</font>
		<font color="#00CED1">放</font>
		<font color="red">弃</font>
		<font color="#BA55D3">的</font>
		<font color="#601986">时</font>
		<font color="#556fb5">候，</font>
		<font color="#fa1089">想</font>
		<font color="#638c0b">想</font>
		<font color="#e00089">当</font>
		<font color="#0a1089">初</font>
		<font color="#f0c089">你</font>
		<font color="#00c380">为</font>
		<font color="#cc1089">什</font>
		<font color="#2E8B57">么</font>
		<font color="#F08080">开</font>
		<font color="#00CED1">始。</font>
	</h3>
</center>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ site.locals.newest }}</div>
      {% for post in paginator.posts %}
        <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
          {{post.title}}
          <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
  {% for cate in site.cates %}
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ cate }}</div>
        {% for tag in site.tags %} 
          {% if tag[0] == cate %}
            {% for post in tag[1] %}
              <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
 
